body
{
    font-family: Andale Mono;
    background-color: grey;
    margin: 1.2rem;
}
main
{
    background-color: whitesmoke;
}
header
{
    font-size: 200%;
    text-align: center;
    text-decoration: underline;
    padding: 3px;
}
.bio-container
{
    display: grid;
    grid-template-columns: minmax(10rem,40%) 1fr;
    
    
}
.bio-container img
{
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
}
.bio-container p
{
    padding: 5px;
    font-size: 1.1rem;
    /* font-weight: bold; */
    margin-top: 0px;
    margin-bottom: 0px;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: black;
    color: white;
}
h2
{
    text-align: center;
    text-decoration: underline;
    font-size: 250%;
    
}
.class-container
{
    display: grid;
    grid-template-columns: minmax(22rem, 1fr);
    grid-row-gap: 5px;
    align-items: center;
}

.class-container button
{
    height: 9rem;
    width: 100%;
    border: none;
    background-color: #FFCB05;
    color: #00274C;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    transition: ease 1s;
    outline: none;
    grid-column-start: 1;
    grid-column-end: 2;
}
.class-container button:hover
{
    background-color: red;
}
.class-1-summary
{
    padding: 5px;
    /* font-size: .78rem; */
    font-size: 1rem;
    background-color: #00274C;
    color: #FFCB05;
    grid-column-start: 2;
    grid-column-end: 3;
    height: 93%;
}
.contact
{
    
    text-align: center;
    
}
.contact button
{
    margin-top: 15px;
    width: 15rem;
    height: 5rem;
    font-family: Andale Mono;
    font-size: 2rem;
    border: none;
    background-color: #00274C;
    color: #FFCB05;
    transition: ease 1s;
    margin-bottom: 10px;
}
.contact button:hover
{
    background-color:red;
}

footer
{
    width: 100%;
    height: 5rem;
    background: black;
    text-align: center;
    padding-top: 10px;
    
}
.icons a
{
    margin-left: 10px;
    color:#FFCB05;
    font-size: 3rem;
    text-decoration: none;
    transition: ease 1s;
}
.icons a:hover
{
    color:red;
}



@media screen and (max-width: 960px)
{
.bio-container
{
    display: grid;
    grid-template-columns: minmax(5rem,40%) 1fr;
}
    .bio-container p
    {
        padding: 5px;
        font-size: 80%;
        /* font-weight: bold; */
        margin-top: 0px;
        margin-bottom: 0px;
        grid-column-start: 2;
        grid-column-end: 3;
        background-color: black;
        color: white;
    } 
    .class-1-summary
{
    padding: 5px;
    /* font-size: .78rem; */
    font-size: .75rem;
    background-color: #00274C;
    color: #FFCB05;
    grid-column-start: 2;
    grid-column-end: 3;
    height: 93%;
}
}
@media screen and (max-width: 690px)
{
    .bio-container
    {
        display: grid;
        grid-template-columns: 1fr;

    }
    .bio-container img
    {
        width: 100%;
        grid-column: 1 / -1;
    }
    .bio-container p
    {
        font-size: 100%;
        grid-column: 3 / -3;
    }
    .class-container
{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 0px;
}
.class-container button
{
    grid-column: 1/-1;
}
.class-container button
{
    height: 9rem;
    width: 100%;
    border: none;
    background-color: #FFCB05;
    color: #00274C;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    outline: none;


}
.class-container button:hover
{
    background: #FFCB05;
}
.class-1-summary
{
    grid-column: 2/-2;
}
.icons a:hover
{
    color: #FFCB05;
}
.contact button:hover
{
    background-color: #00274C;
}
}
