body
{
    background-color: #FFCB05;
    /* background-color: rgb(196, 240, 255); */
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
/* Start of Nav Style */
.nav-dropdown
{
    display: none;
}
.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    background-color: #00274C;
}
/* Start of Styling of Hamburger */
.hamburger
{
    display: none;
}
.bar
{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #FFCB05;
}
.nav-menu
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item
{
    margin-left: 5rem;
}
.nav-link
{
    transition: ease 1s;
    font-size:1.4rem;
    font-weight: 400;
    color: #FFCB05;
}

.nav-link:hover
{
    color: red;
}
.nav-logo
{
    font-size: 1.8rem;
    font-weight: 500;
    color: #FFCB05;
}
/* End of Styling of Hamburger */
li
{
    list-style: none;
}
a
{
    text-decoration: none;
}
/* End of Nav Style */

h1
{
    font-size: 4rem;
    margin-bottom: -10px;
}
.small-caption
{
    font-size: 40%;
}

.spot1, .spot2, .spot3
{
    display: inline-block;
    /* margin-top: 20px; */
}
p[class = "author"]
{
    font-size: .8rem;
}
#hidden
{
    display: none;
}
p[class = "instructions"]
{
    margin-bottom: 5%;
}
div[class = "game-space"]
{
    padding: 8px;
    background-color: #FAF9F6;
    height: auto;
    margin: 10px 10px;
}
div input
{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    width: 35px;
    height: 35px;
}
#guess
{   margin-top: 25px;
    margin-bottom: 20px;
    width: 100px;
}
p[class = "timer"]
{
    margin-top: 30px;
}
span
{
    color: red;
    border: solid black 1px;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
}
div[class = "game-space"] button
{
    font-family: 'Courier New', Courier, monospace;
    width: fit-content;
    height: 35px; 
    background-color: white;
    border: 1px black solid;
    border-radius: 5px;
}
#outcome
{
    color: red;
}
footer
{
    width: 100%;
    height: 5rem;
    background: black;
    text-align: center;
    padding-top: 10px;
    margin: 0px;
    
}
.icons a
{
    margin-left: 10px;
    color:#FFCB05;
    font-size: 3rem;
    text-decoration: none;
    transition: ease 1s;
}
.icons a:hover
{
    color:red;
}
@media only screen and (max-width: 775px)
{
.nav-menu
{
    display: none;   
}

.nav-link-dropdown
{   
    
    font-size:1.4rem;
    font-weight: 400;
    color: #FFCB05;
}
.nav-item-dropdown
{
    margin: 5rem 0px;
    padding: 1rem 0;
}
.nav-dropdown
{

    text-align: center;
    position: relative;
    top: -80px;
    width: 100%;
    background-color: #00274C;
}

.nav-dropdown.active
{
    display:block;
    opacity: 1;
}
.nav-item
{
    /* padding: 1rem;
    margin: 2rem 0; */
    margin: 2.5rem 0;
}
.hamburger
{
    display: block;
    cursor: pointer;
}
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    
}
/* End of Nav Style For Mobile*/
}